<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Neural network that attempts to guess people's passwords based on information about them">
    <meta property="og:title" content="fsociety">
    <meta property="og:description" content="Neural network that attempts to guess people's passwords based on information about them">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#212128">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#F8FFFA">
    <title>fsociety</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body {% if theme !="system" %}class="{{ theme }}" {% endif %}>
    <header>
        <h1>fsociety</h1>
        <p>Targeted password guesses with machine learning - Demo</p>
        <div aria-label="theme selector">
            <button id="dark" title="dark theme" aria-label="dark theme" class="exception {% if theme == "dark" %}active{% endif %}">
            <span class="material-icons">dark_mode</span>
            </button>
            <button id="light" title="light theme" aria-label="light theme" class="exception {% if theme == "light" %}active{% endif %}">
            <span class="material-icons">light_mode</span>
            </button>
            <button id="system" title="system theme" aria-label="system theme" class="exception {% if theme == "system" %}active{% endif %}">
            <span class="material-icons">settings_brightness</span>
            </button>
        </div>
    </header>
    <main>
        <form>
            <div class="form-input">
                <label for="realname">Real Name:</label>
                <input id="realname" type="text" value="Jane Doe">
            </div>
            <div class="form-input">
                <label for="username">Username:</label>
                <input id="username" type="text" value="janedoe123">
            </div>
            <div class="form-input">
                <label for="dob">Date of Birth:</label>
                <input id="dob" type="date" value="1994-08-23">
            </div>
            <div class="form-input">
                <label for="gender">Gender:</label>
                <input id="gender" type="text" value="F">
            </div>
            <div class="form-input">
                <label for="country">Country:</label>
                <input id="country" type="text" value="US">
            </div>
            <div class="form-input">
                <label for="twitterid">Twitter Username:</label>
                <input id="twitterid" type="text" value="janedoe_rocks">
            </div>
            <div class="form-input grow">
                <label for="about">About info:</label>
                <textarea id="about" >Age 25, lives in a single apartment in New Hampshire. Works as an accountant in Goldman Sachs. Loves anime, favorites are evangelion and higurashi. Parties a lot. Best friends are Katie and Lara. Hangs out with them basically every night, and sometimes they watch anime together. Huge cat person; owns like 12 cats. The oldest, Jane, has been with her for over 6 years now.</textarea>
            </div>
            <div class="form-input grow">
                <label for="status">Status:</label>
                <textarea
                    id="status">Currently chilling in the Maldives on vacation. Love the beach!</textarea>
            </div>
            <div class="buttons">
                <button id="reset" type="reset">Reset</button>
                <button id="guess" type="submit">Guess Password</button>
            </div>
        </form>
        <section id="results">
            <h2>Guessed Passwords</h2>
            <ul></ul>
        </section>
    </main>
    <footer>
        © 2022 | fsociety
    </footer>
    <script src="/scripts/cash.min.js"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>
